#chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #4CAF50; /* Green color */
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

#chatbot-icon img {
    width: 100%;
    height: auto;
}

.chat-modal {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px; /* Adjusted width */
    background-color: #fff;
    border: 2px solid #4CAF50; /* Green border */
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
}

.chat-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-header {
    background-color: #4CAF50; /* Green color */
    color: #fff;
    padding: 15px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 20px;
}

.chat-body {
    flex-grow: 1;
    overflow-y: auto;
    
}

.user-message {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 80%; /* Adjusted width */
    align-self: flex-end;
}

.bot-message {
    background-color: #4CAF50; /* Green color */
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 80%; /* Adjusted width */
}

.chat-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#user-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #4CAF50; /* Green border */
    border-radius: 5px;
    margin-right: 10px;
}

#send-button,
.close-chat {
    background-color: #4CAF50; /* Green color */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}


#send-button:hover,
.close-chat:hover {
    background-color: #45a049; /* Darker green color on hover */
}




.chatbox__heading--header {
    font-size: 1.2rem;
    color: rgb(52, 10, 10);
}

.chatbox__description--header {
    font-size: .9rem;
    color: rgb(36, 7, 7);
}

.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
   
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__send--footer {
    color: white;
}